html * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-touch-action: none;
  -webkit-touch-action: none;
  touch-action: none;
  background: #fff;
}

/* Define custom color variables */
:root {
  --main-color: #067252;
  --primary-color: #0bbd85;
  --secondary-color: #f7cf0f;
  --dark-color: #23252d;
}

body, input, select, textarea, button, .ui-btn{
  line-height: 1.3;
}

* {
  margin: 0;
  padding: 0;
  text-shadow: none;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: "roboto-regular";
  color: #5a5a5a;
}

body,
#container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  padding: 0;
  font-size: 1.5vw;
}
#container{ position: relative}

sup,
sub {
  line-height: 0;
  font-size: 50%;
}

/**/
.po {
  position: absolute;
}

.cap {
  text-transform: uppercase;
}

.align-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Color ----------------*/
.white {
  color: #fff;
}

.light-green {
  color: var(--primary-color);
}

.dark-green {
  color: var(--main-color);
}

.yellow {
  color: var(--secondary-color);
}

.black {
 color: var(--dark-color)
}

/* Font-face class ----------------------*/
b,
strong,
.bold {
  font-family: "clear-sans-bold";
  font-weight: normal;
}

.regular {
  font-family: "clear-sans-regular";
}

.avenir {
  font-family: "avenir";
}

.adobe-arabic {
  font-family: "adobe-arabic";
}

/* font-size------------------------------*/
h1 {
  font-size: 2.3vw;
  line-height: 1.2;
  top: 5vh;
  left: 9vw;
}

.normal-txt {
  font-size: 1.3vw;
}

.sm-txt {
  font-size: 1vw;
}

/* Wrapper------------------------------*/
#main-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.bg {
  background: #FFF url(../images/bg.png) no-repeat center top / 100% auto;
}

/* footer nav-bar */
.logo-crux{
  background: url(../images/Logo.png) no-repeat center top / 100% auto;
  width: 15vw;
  height: 12vh;
  left: 0;
  right: 0;
  top: 2vh;
  margin-left: auto;
  margin-right: auto;
}


/* Footer Navigation CSS */
.footer {
  width: 96%;
  bottom: 2.21vh;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.footer > * {
  width: 100%;
  color: white;
}

.footer-tab {
  background-color: var(--main-color);
  display: flex;
  padding: 0.6vw;
  line-height: 1.7vw;
  z-index: 2;
  border-radius: 1.8vw;
}

.footer-tab.active {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Styling for individual items in the footer navigation */
.footer-tab .footer-item {
  width: 100%;
  padding: 1vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8vw;
  transition: all 0.3s linear;
  border-radius:  0.6vw;
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.2vw;
}

/* Styling for links within footer items */
.footer-tab .footer-item,
.footer-sub-item {
  text-decoration: none;
}

/* Hover and active styles for footer navigation items */
.footer-tab .footer-item.active {
  background-color: var(--primary-color);
}

/* Styling for the sub-navigation tabs within the footer */
.footer-sub-tab {
  width: 100%;
  position: absolute;
  background-color: var(--primary-color);
  padding: 0.6vw;
  display: none;
  animation: toggleSubFooter 0.3s linear;
  bottom: 8.85vh;
  border-radius: 1.8vw 1.8vw 0 0;
}

.footer-sub-tab.chart.active,
.footer-sub-tab.about.active {
  display: flex;
}

/* Animation keyframes for sub-navigation tabs */
@keyframes toggleSubFooter {
  from {
    /* z-index: -1; */
    transform: translateY(25%);
  }

  to {
    /* z-index: 1; */
    transform: translateY(0);
  }
}

/* Styling for individual items in the sub-navigation */
.footer-sub-item {
  width: 100%;
  padding: 0.8vw 1.2vw;
  font-size: 1.6vw;
  text-align: center;
  transition: all 0.3s linear;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Hover and active styles for sub-navigation items */
.footer-sub-item.active,
.footer-sub-item:hover {
  background-color: var(--main-color);
  border-radius: 1.2VW;
}